:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body{
  background-image: url("https://www.xtrafondos.com/wallpapers/juego-de-tronos-personajes-en-trono-de-hierro-3190.jpg");
  background-size: cover;
  color: white;
}

header{
  background-color: #1a1a1a7a;
  width: 100%;
  min-height: 100px;
}
#cuerpo{
  min-height: 400px;
  width: 100%;
}
.prenav{
  float: left;
}
.navegador{
  padding-top: 2.5%; 
  text-align: center;
}
.cb{
  clear: both;
}
.btn {
  border-color: #000000;
  color: #fff;
  box-shadow: 0 0 40px 40px #000000 inset, 0 0 0 0 #000000;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  min-width: 132.12px;
  min-height: 37.33px;
  width: 50%;
}
.btn:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #000000;
  color: white;
}
#cuerpo_personajes{
  padding-top: 10px;
   display: flex !important;
  width: 100%;
  min-height: 500px;
}
#cuerpo_casas{
  padding-top: 10px;
  display: flex !important;
  width: 100%;
  min-height: 500px;
}
#cuerpo_frases{
  padding-top: 10px;
  display: flex !important;;
  width: 100%;
  min-height: 500px;
}
.resultado_tipo{
    height: 400px;
    overflow-y: scroll;
    background-color: #646cff;
}
.row-fixed{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.img-max img{
  width: 100%;
}
.texto{
  padding-left: 2%;
}
.card2{
  width: 220px;
  height: 490px;
  float: left;
  padding: 0 10px 20px 0;
}
