header {
    background-image: url("./images/a.jpeg");
    width: 100%;
    min-height: 100px;
}

#cuerpo {
    min-height: 400px;
    width: 100%;
}

.prenav {
    float: left;
}

.prenav img {
    height: 100px;
}

.navegador {
    text-align: right;
}
.cb {
    clear: both;
}

.btn {
    border-color: #fae900;
    color: #fff !important;
    box-shadow: 0 0 40px 40px #000000 inset, 0 0 0 0 #000000;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    min-width: 132.12px;
    min-height: 37.33px;
    width: 50%;
}

.btn:hover {
    box-shadow: 0 0 40px 40px #fff inset, 0 0 10px 4px #000000;
    color: rgb(0, 0, 0) !important;
}

.btn_busqueda{
    border-color: #ffffff;
    color: white !important;
    box-shadow: 0 0 10px 0 #b2bec6 inset;
    background-color: black;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.btn_busqueda:hover{
    box-shadow: 0 0 10px 0 #b2bec6 inset, 0 0 4px 1px #ffffff;
    border-color: #ffffff;
}

#cuerpo_personajes {
    padding-top: 10px;
    width: 100%;
    min-height: 500px;
}

#cuerpo_casas {
    padding-top: 10px;
    display: none;
    width: 100%;
    min-height: 500px;
}

#cuerpo_frases {
    padding-top: 10px;
    display: none;
    width: 100%;
    min-height: 500px;
}

.resultado_tipo {
    height: 400px;
    overflow-y: scroll;
    background-color: #00000081;
    color:white;
}

.row-fixed {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.img-max img {
    width: 100%;
}

.texto {
    padding-left: 2%;
}

.boxnumero{
    width: 60px;
}

.espacio{
    padding-left: 20px;
}

.h1fix{
    margin-top: 1.5%;
    font-size: 2.5em !important;
}